<script lang="ts">

</script>

<div class="modal" id="qm-import-qcm">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Import de QCM</p>
      <button class="delete closebutton" aria-label="close" data-modal="qm-import-qcm"></button>
    </header>
    <section class="modal-card-body">
      <label class="label">Fichier à importer depuis l'ordinateur</label>
      <div class="file is-centered">
        <label class="file-label">
          <input class="file-input" type="file" id="import-qcm-file" name="resume" accept=".txt">
          <span class="file-cta">
            <span class="file-icon">
              <i class="ri-upload-2-line"></i>
            </span>
            <span class="file-label">
              Fichier…
            </span>
          </span>
          <span class="file-name">Fichier txt</span>
        </label>
      </div>
      <label class="label">Fichier en ligne</label>
      <input type="text" id="import-qcm-url" class="input" placeholder="Coller l'adresse internet du fichier">
      <label class="label">Contenu de fichier copié/collé</label>
      <input type="text" id="import-qcm-text" class="input" placeholder="Coller ici les données">
    </section>
    <footer class="modal-card-foot">
      <a href="blabla.html">Importer des qcm ?</a>
      <span class="has-text-danger"></span>
    </footer>
  </div>
</div>
