<script lang="ts">
    import ModalWaitAction from './ModalWaitAction.svelte'

</script>

<div id="qm-qcm" class="tab">
  <nav class="navbar">
    <div class="navbar-menu">
      <div class="navbar-brand">
        <div class="navbar-item"> Commandes :</div>
      </div>
      <div class="navbar-start">
        <a id="btn-add-qcm" class="navbar-item"><i class="ri-play-list-add-line"></i> Créer un qcm</a>
        <a id="btn-import-qcm" class="navbar-item"><i class="ri-file-upload-line"></i> Importer des qcm</a>
        <a id="btn-download-qcms" class="navbar-item"><i class="ri-file-download-line"></i> Télécharger</a>
        <!-- <a id="btn-save-qcms"><i class="ri-save-line"></i> Enregistrer</a>-->
      </div>
    </div>
  </nav>
  <div id="qcms-list">
    <div class="tabs mb-0">
      <ul>
        <li><a>Mes questionnaires</a></li>
        <li><a title="Ajouter une section"><i class="ri-add-line"></i></a></li>
      </ul>
    </div>
    <section id="section-qcms-0">
    </section>
  </div>
</div>

<div id="qm-qcm-editor" class="is-hidden tab is-flex">
  <div class="p-3 is-flex-grow-1">
    <div class="p-3" id="questions-list-container">
      <div id="qcm-name-commands">
        <button class="button is-danger" id="btn-qcm-delete"><i class="ri-delete-bin-line"></i></button>
      </div>
      <h4 id="question-list-name" class="title p-3">Sélectionner un QCM...</h4>
      <div id="questions-list-general-commands">
        <input id="switchShowCorrectAnswers" type="checkbox" name="switchShowCorrectAnswers"
          class="switch is-rounded">
        <label for="switchShowCorrectAnswers">Colorer les réponses correctes</label>
        <input id="switchIsQCMColored" type="checkbox" name="switchIsQCMColored" class="switch is-rounded is-info">
        <label for="switchIsQCMColored">Colorer les réponses</label>
        <div class="is-hidden" id="ColorEditorQCM">
          <div class="field is-horizontal" id="defaultColorsEditor">
            <button class="button" id="defaultColorEditor0">Défaut
              <span id="editorConfigColor1">A</span>
              <span id="editorConfigColor2">B</span>
              <span id="editorConfigColor3">C</span>
              <span id="editorConfigColor4">D</span>
            </button>
            <label for="defaultColorEditor1" class="field-label">A</label>
            <input type="color" id="defaultColorEditor1" class="input is-link" value="#a8f9f9">
            <label for="defaultColorEditor2" class="field-label">B</label>
            <input type="color" id="defaultColorEditor2" class="input is-link" value="#f9b7d8">
            <label for="defaultColorEditor3" class="field-label">C</label>
            <input type="color" id="defaultColorEditor3" class="input is-link" value="#c5bcf8">
            <label for="defaultColorEditor4" class="field-label">D</label>
            <input type="color" id="defaultColorEditor4" class="input is-link" value="#f8f596">
          </div>
        </div>
      </div>
      <div id="questions-list">
        <div class="py-6 is-size-3 has-text-grey-light has-text-weight-bold is-flex">
          <div class="is-flex is-justify-content-center is-flex-direction-column mx-4"><i
              class="ri-arrow-left-s-line"></i></div>
          <div>Sélectionner/Créer/Charger un qcm<br> pour voir et éditer ses questions</div>
        </div>
      </div>
    </div>
  </div>
</div>
<ModalWaitAction />
