<script lang="ts">

</script>

<div id="qm-openusage" class="tab">
  <div class="columns" style="margin: 6em;">
    <div class="column is-one-quarter">
      <img src="images/QCMCam-logobig.png" alt="Logo QCMCam">
    </div>
    <div class="column">
      <p class="block">
        <b class="is-size-3">QCM<span style="color: #FF7214;">Cam</span></b> est une web application (elle fonctionne depuis un navigateur internet) autonome sous licence
        libre. Elle permet de créer des questionnaires à choix multiple, des questionnaires à réponse multiple,
        des VRAI/FAUX, auxquels répondent les élèves à l'aide de marqueur papier analysés par une caméra.
      </p>
      <p class="block">Les questionnaires peuvent comporter des images, des formules de mathématiques, du son, de la
        vidéo. Ce
        type d'activité ludique permet d'augmenter l'intérêt des élèves pour venir en classe et améliorer leur
        écoute.</p>
        <h2>
          <i class="ri-copyleft-fill qm-rel-top1"></i> Licence
        </h2>
        <p>
          QCMCam est distribué sous licence <span class="w3-tag">
            <a href="https://www.apache.org/licenses/LICENSE-2.0">apache 2.0</a>
          </span>.
        </p>
    </div>
  </div>
  <div class="columns" style="margin: 6em;">
    <div class="column">
      <h2 class="title">
        <i class="ri-spy-line qm-rel-top1"></i> L'auteur
      </h2>
      <p>
        Sébastien COGEZ est professeur de Mathématiques en collège dans les pyrénées orientales. Passionné
        d'informatique, il partage ses outils dans l'esprit libre et open source. Il développe essentiellement
        des outils web en javascript qui se veulent autonomes et ne nécessitant aucune installation.
        Il a quelques connaissances SQL et php qu'il a utilisées pour développer Mathenpoche,
        ancêtre de <a href="https://labomep.sesamath.net/">Labomep</a>.
      </p>
    </div>
    <div class="column is-one-quarter">
      <img src="images/undraw_teaching_re_g7e3.svg" alt="image open source" style="max-width: 100%;">
    </div>
  </div>
  <div class="columns" style="margin: 6em;">
    <div class="column is-one-quarter">
      <img src="images/undraw_open_source_-1-qxw.svg" alt="image open source" style="max-width: 100%;">
    </div>
    <div class="column container">
      <h2 class="title">
        <i class="ri-git-repository-line qm-rel-top1"></i> Sources
      </h2>
      <p class="block">
        <b>QCM<span style="color: #FF7214;">Cam</span></b> est une webapplication codée en typeScript exporté en Vanilla script 2016, utilisant les possibilité
        de CSS 3, HTML5 et les bases de données internes aux navigateurs : indexedDB.
        Son développement s’est fait avec l’éditeur Visual Studio Code, Node.js, et Inkscape pour la création d’éléments
        graphiques.
      </p>
      <p class="block">
        Le code source du logiciel est disponible sur la <a href="https://forge.apps.education.fr/sebastien.cogez">forge gitlab
          hébergée par l'Éducation Nationale</a> sur le compte de sebastien.cogez qui développe également
        MathsMentales. MathsMentales est une application opensource qui permet de travailler les automatismes en
        mathématiques à l'aide de diaporamas, de fiches d'exercices, de ceintures de calcul mental que l'on crée
        en ligne et d'autres déclinaisons.
      </p>
    </div>
  </div>
  <div class="content columns" style="margin: 6em;">
    <div class="column">
      <div class="">
        <div class="">
          <h2 class="title">
            <i class="ri-git-repository-line qm-rel-top1"></i> Bibliothèques open source
          </h2>
          <header class="">
            <h2>openCV.js</h2>
          </header>
          <div class="">
            <p>
              <a href="https://opencv.org/">openCV</a> signifie Open Source Computer Vision, il s'agit
              d'un outil de reconnaissance d'image qui est utilisé ici pour repérer les cartes de
              vote.
            </p>
          </div>
          <footer class="">
            <a href="https://opensource.org/licenses/BSD-3-Clause">
              <h4>3-clause BSD license</h4>
            </a>
          </footer>
        </div>
      </div>
      <div class="">
        <div class="">
          <header class="">
            <h2>Aruco.js</h2>
          </header>
          <div class="w3-container">
            <p>
              <a href="https://www.uco.es/investiga/grupos/ava/node/26">ArUco</a>
              est développé par l'université de Cordoba en Espagne. QCMCam utilice ce modèle pour ses
              cartes. Il dépend d'autres modules sous licence <span class="w3-tag">GNU</span>.
            </p>
          </div>
          <footer class="">
            <h4>
              <a href="https://www.freebsd.org/copyright/license/">licence BSD</a>
            </h4>
          </footer>
        </div>
      </div>
      <div class="">
        <div class="">
          <header class="">
            <h2>Download.js</h2>
          </header>
          <div class="">
            <p>
              <a href="http://danml.com/download.html">Download.js</a> est une fonction qui permet de
              provoquer un téléchargement en javascript. La licence est attribuée à dandavis, son
              développeur.
            </p>
          </div>
          <footer class="">
            <a href="http://creativecommons.org/licenses/by/4.0/">
              <h4>Creative Commons Attribution 4.0 International License</h4>
            </a>
          </footer>
        </div>
      </div>
      <div class="">
        <div class="">
          <header class="">
            <h2>Images</h2>
          </header>
          <div class="">
            <p>
              Les images de la page d'accueil sont tirées du site <a href="https://undraw.co">unDraw</a> qui propose
              des illustrations SVG gratuites et
              surtout open source. Il propose de nouvelles images régulièrement.
            </p>
            <p>
              Icônes animées d'attente
              <a href="https://www.flaticon.com/fr/icones-animees-gratuite/rapport" title="rapport icônes animées">Rapport icônes animées créées par Freepik - Flaticon</a>
              <a href="https://lordicon.com/">Icons by Lordicon.com</a>
            </p>
          </div>
          <footer class="">
            <a href="https://undraw.co/license">
              <h4>Licence Open Source personnelle</h4>
            </a>
          </footer>
        </div>
      </div>
      <div class="">
        <div class="">
          <header class="">
            <h2>Icones</h2>
          </header>
          <div class="">
            <p>
              Les icones utilisée sur le site viennent de <a href="https://remixicon.com">REMIX
                ICON</a> qui propose des icones gratuites et open source aux formats font et svg.
            </p>
          </div>
          <footer class="">
            <a href="https://github.com/Remix-Design/RemixIcon/blob/master/License">
              <h4>Licence Apache 2.0</h4>
            </a>
          </footer>
        </div>
      </div>
      <div class="">
        <div class="">
          <header class="">
            <h2>CKEditor</h2>
          </header>
          <div class="">
            <p>
              L’éditeur inline <a href="https://ckeditor.com">CKEditor 5</a> a été compilé avec une
              <a href="https://github.com/isaul32/ckeditor5-math">bibliothèque
              permettant d’éditer des formules mathématiques</a> LaTeX affichée par Katex (<a href="https://github.com/isaul32/ckeditor5-math/blob/master/LICENSE">licence ISC</a>).
            </p>
          </div>
          <footer class="">
            <a href="https://ckeditor.com/legal/ckeditor-oss-license/">
              <h4>GNU GPL v2+</h4>
            </a>
          </footer>
        </div>
      </div>
      <div class="">
        <div class="">
          <header class="">
            <h2>Katex</h2>
          </header>
          <div class="">
            <p>
              Les formules sont affichée à l'aide de <a href="https://katex.org/">Katex</a>, une bibliothèque permettant d’afficher du LaTeX
              sur les pages web de manière simple et rapide. Katex est à l’origine un élément créé pour la Khan Academy.
            </p>
          </div>
          <footer class="">
            <a href="https://github.com/KaTeX/KaTeX/blob/main/LICENSE">
              <h4>MIT Licence</h4>
            </a>
          </footer>
        </div>
      </div>
    </div>
    <div class="column is-one-quarter">
      <img src="images/undraw_scientist_ft0o.svg" alt="image open source" style="max-width: 100%;">
    </div>
  </div>
</div>
