#png-container {
    margin: 2em;
  }
@media print {
    .noprint,
    .noprint * {
        display: none !important;
        padding:0;
        margin:0;
    }
    html,body {
        padding:0;
        margin:0
    }
    #png-container {
        margin: 0
    }
    .centeredflex {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #png-container.twoPerPage div:nth-of-type(even) {
        page-break-after: always;
    }
    #png-container.twoPerPage div {
        page-break-inside: avoid;
        height: 420pt;
        border-bottom: 1pt solid #9e9e9e;
        border-right: 1pt solid #9e9e9e;
        aspect-ratio: 1 / 1;
    }
    #png-container:not(.twoPerPage) div {
        border-bottom: 1px solid #9e9e9e;
        aspect-ratio: 1 / 1;
        page-break-after: always;
    }
}

* {
    font-family: arial, sans-serif;
}

/* add pour font remix icon qui n'aligne pas bien verticalement */
.qm-rel-top1 {
    position: relative;
    top: 0.1em;
}
/* basiques */
.noborder {
    border: none;
    padding: 0;
}

.hidden {
    display: none;
}

/** largeur des "zones"
.l200 zone couleur et marqueur unique
.l300 zone import et marqueurs multiples
*/
.l200,
.l300 {
    max-width: 350px;
    padding: 0.4em;
    margin: auto;
    margin-top: 1em;
}

.l300 {
    max-width: 450px;
}

.l200 input,
.l300 {
    vertical-align: middle;
}

/* ajustement taille */
#png-container.twoPerPage img {
    height: 500px;
}

/* swith buttons */
/* div contenant le duo radio */
.btn-switch {
    font-size: 1em;
    position: relative;
    display: inline-block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-top: 1em;
}
/* input:radio non affiché */
.btn-switch__radio {
    display: none;
}

/* label affichage commun
la couleur de police est celle commune, 
*/
.btn-switch__label {
    display: inline-block;
    padding: .75em .5em .75em .75em;
    vertical-align: top;
    font-size: 1em;
    font-weight: 700;
    line-height: 1.5;
    color: #fff;
    cursor: pointer;
    transition: color .2s ease-in-out;
}
/* couleur de police du label gauche / premier déclaré */
.btn-switch__radio_yes:checked~.btn-switch__label_yes {
    color: #fff;
}
/* 2e label (celui de droite */
.btn-switch__label+.btn-switch__label {
    padding-right: .75em;
    padding-left: 0;
}
/* zone de texte des labels */
.btn-switch__txt {
    position: relative;
    z-index: 2;
    display: inline-block;
    min-width: 1.5em;
    opacity: 1;
    pointer-events: none;
    transition: opacity .2s ease-in-out;
}

/* zone de texte des labels de droite */
.btn-switch__radio_no:checked~.btn-switch__label_yes .btn-switch__txt,
.btn-switch__radio_yes:checked~.btn-switch__label_no .btn-switch__txt {
    opacity: 0;
    width: 2em;
    height: 1em;
    overflow: hidden;
}
/* forme et couleur des deux labels */
.btn-switch__label:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #64c6ea;
    border-radius: 1.5em;
    box-shadow: inset 0 .0715em .3572em rgba(43, 43, 43, .05);
    transition: background .2s ease-in-out;
}

/* couleur de fond du label de gauche / premier label déclaré */
.btn-switch__radio_yes:checked~.btn-switch__label:before {
    background: #2566fc;
}
/* rond qui coulisse pour le non - label droit */
.btn-switch__label_no:after {
    content: "";
    position: absolute;
    z-index: 2;
    top: .5em;
    bottom: .5em;
    left: .5em;
    width: 2em;
    background: #fff;
    border-radius: 1em;
    pointer-events: none;
    box-shadow: 0 .1429em .2143em rgba(43, 43, 43, .2), 0 .3572em .3572em rgba(43, 43, 43, .1);
    transition: left .2s ease-in-out, background .2s ease-in-out;
}
/* rond qui coulisse pour le oui, label gauche */
.btn-switch__radio_yes:checked~.btn-switch__label_no:after {
    left: calc(100% - 2.5em);
    background: #fff;
}
/* on passe devant le bouton non cliqué */
.btn-switch__radio_no:checked~.btn-switch__label_yes:before,
.btn-switch__radio_yes:checked~.btn-switch__label_no:before {
    z-index: 1;
}
