<script lang="ts">
  import type { TabId } from '../../lib/ts/models/tab'
  import { showModal, showTab } from '../../lib/ts/services/navigation'
  import { currentTabId } from '../../lib/ts/services/store'
  import ModalConnect from './ModalConnect.svelte'
  import ModalNewUser from './ModalNewUser.svelte'
  import ModalSettings from './ModalSettings.svelte'
  import TabItem from './TabItem.svelte'

  type Item = {
    id: TabId
    title: string
    icon: string
  }

  const items: Item[] = [
    {
      id: 'qcm',
      title: 'QCMs',
      icon: 'ri-article-line'
    },
    {
      id: 'groups',
      title: 'Groupes',
      icon: 'ri-group-line'
    },
    {
      id: 'statistics',
      title: 'Stats',
      icon: 'ri-file-chart-line'
    },
    {
      id: 'diaporama-settings',
      title: 'Démarrer',
      icon: 'ri-play-line'
    },
    {
      id: 'markers',
      title: 'Cartes',
      icon: ''
    },
    {
      id: 'openusage',
      title: 'Usage libre',
      icon: ''
    }
  ]
</script>

<header class="navbar is-white">
  <div class="navbar-brand">
    <TabItem
      id="home"
      currentTabId={$currentTabId}
      icon=""
      {showTab}
    >
      <img title="Accueil" src="images/QCMCam-logo.png" alt="logo qcmcam">
    </TabItem>
  </div>
  <div class="navbar-menu">
    <div class="navbar-start">
      {#each items as tabItem}
        <TabItem
          id={tabItem.id}
          currentTabId={$currentTabId}
          icon={tabItem.icon}
          {showTab}
        >
          {tabItem.title}
        </TabItem>
      {/each}
      <a
        class="navbar-item"
        id="btn-settings"
        href="/"
        on:click={(mouseEvent) => {
          mouseEvent.preventDefault()
          showModal('settings')
        }}
      >
        <i class="ri-settings-3-line" />
      </a>
    </div>
      <!--
    <div class="navbar-end">
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link" id="btn-connect">Connexion</a>
        <div class="navbar-dropdown">
          <a class="navbar-item" id="btn-newuser">Inscription</a>
        </div>
      </div>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          <i class="ri-earth-line ri-ml1"></i> Langue
        </a>
        <div class="navbar-dropdown is-right">
          <a class="navbar-item">
            <img src="images/flags/flag-fr.png" alt="Drapeau français"> Français
          </a>
          <a href="#" class="navbar-item">
            <img src="images/flags/flag-en.png" alt="English flag"> English
          </a>
          <a href="#" class="navbar-item">
            <img src="images/flags/flag-de.png" alt="Deutsche Flagge"> Deutsch
          </a>
          <a href="#" class="navbar-item">
            <img src="images/flags/flag-it.png" alt="Bandiera italiana"> Italiano
          </a>
          <a href="#" class="navbar-item">
            <img src="images/flags/flag-es.png" alt="Bandera española"> Español
          </a>
          <a href="#" class="navbar-item">
            <img src="images/flags/Flag_of_Esperanto.svg" alt="Flago de esperanto" width="23"> Traduire
          </a>
        </div>
      </div>
    </div>-->
  </div>
</header>

<ModalSettings />
<ModalConnect />
<ModalNewUser />
