<script lang="ts">
  import { showModal } from '../../lib/ts/services/navigation'

  export let modalId: string
  export let icon: string

</script>

<a
  class="navbar-item"
  id="btn-{modalId}"
  href="/"
  on:click={(mouseEvent) => {
    mouseEvent.preventDefault()
    showModal(modalId)
  }}
>
  <i class="{icon}" />
</a>
