<script lang="ts">
  import { onMount } from 'svelte'

  let modal: HTMLDivElement
  let storageUsedRate: number = 0

  onMount(() => {
    navigator.storage.estimate().then(({ usage, quota }) => {
      if (!usage || !quota) return
      storageUsedRate = (usage / quota) * 100
      if (storageUsedRate > 90) {
        alert('Le quota de stockage dépasse 90% !\nVeuillez supprimer des données')
      }
    }).catch(() => { console.log('Error while getting storage usage') })
  })

  function hideModal () {
    modal.classList.remove('is-active')
  }
</script>
  <div class="modal" id="qm-settings"
    bind:this={modal}
  >
  <!-- Ceux qui n'ont pas de souris ont le focus sur le bouton de la croix pour fermer donc ce n'est pas grave s'ils ne peuvent pas fermer en interagissant avec le fond de la modale -->
  <!-- svelte-ignore a11y-click-events-have-key-events -->
  <!-- svelte-ignore a11y-no-static-element-interactions -->
  <div class="modal-background"
    on:click|self={hideModal}
  >
  </div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Réglages</p>
      <button
        class="delete closebutton"
        aria-label="close"
        data-modal="qm-settings"
        on:click={hideModal}
        tabindex="0"
      >
      </button>
    </header>
    <div class="modal-card-body">
      <div>Vous utilisez actuellement {storageUsedRate.toFixed(2)} % du stockage disponible sur votre ordinateur.</div>
      <div class="mx-2 my-4">
        <h1 class="label">Changement d'avis</h1>
        <div>
          <input type="radio" name="changevote" id="changeopinionyes" class="is-checkradio" value="yes" checked>
          <label for="changeopinionyes">Un participant <b>peut</b> changer son vote</label>
        </div>
        <div>
          <input type="radio" name="changevote" id="changeopinionno" class="is-checkradio" value="no">
          <label for="changeopinionno">Un participant <b>ne peut pas</b> changer son vote</label>
        </div>
      </div>
      <div class="mx-2 my-4">
        <h1 class="label">Arrêt du scan</h1>
        <div>
          <input type="radio" name="stopscan" id="stopscanyes" value="yes" class="is-checkradio is-info" checked>
          <label for="stopscanyes">Le scan par webcam <b>cesse</b> automatiquement 5 s. après le dernier vote.</label>
        </div>
        <div>
          <input type="radio" name="stopscan" id="stopscanno" class="is-checkradio is-info" value="no">
          <label for="stopscanno">Le scan par webcam doit être <b>arrêté manuellement</b>.</label>
        </div>
      </div>
      <div class="field is-horizontal mx-2 my-4">
        <div class="is-normal is-flex">
          <div class="label">Temps d'affichage des questions par défaut</div>
        </div>
        <div class="field is-inline-block mx-2">
          <p class="control has-icons-left has-icons-right">
            <input type="number" id="defaultTime" class="input has-text-right" min="0" max="200" title="0 = illimité" value="15">
            <span class="icon is-left"><i class="ri-timer-line"></i></span>
            <span class="icon is-right">s.</span>
          </p>
        </div>
      </div>
      <div class="mx-2 my-4">
        <h1 class="label">Message d'introduction du diaporama</h1>
        <input type="text" class="input is-link" id="messageFisrtSlide" placeholder="Texte d'introduction">
      </div>
      <div class="mx-2 my-4">
        <h1 class="label">Couleurs des questions par défaut</h1>
        <div class="field is-horizontal" id="defaultColors">
          <label for="defaultColor0" class="field-label">Réinitialiser</label>
          <button class="button" id="defaultColor0">Défaut</button>
          <label for="defaultColor1" class="field-label">A</label>
          <input type="color" id="defaultColor1" class="input is-link" value="#a8f9f9">
          <label for="defaultColor2" class="field-label">B</label>
          <input type="color" id="defaultColor2" class="input is-link" value="#f9b7d8">
          <label for="defaultColor3" class="field-label">C</label>
          <input type="color" id="defaultColor3" class="input is-link" value="#c5bcf8">
          <label for="defaultColor4" class="field-label">D</label>
          <input type="color" id="defaultColor4" class="input is-link" value="#f8f596">
        </div>
      </div>
    </div>
  </div>
</div>
