<script lang="ts">
  import { type TabId } from '../../lib/ts/models/tab'

  export let id: TabId
  export let currentTabId: TabId
  export let icon: string = ''
  export let showTab: (mouseEvent: MouseEvent, tabId: TabId) => void

</script>

<a
  class="navbar-item
    {currentTabId === id ? 'is-active' : ''}"
  id="btn-{id}"
  href="/?tab={id}"
  on:click={(mouseEvent) => showTab(mouseEvent, id)}
>
  {#if icon}
    <i class="{icon}" />
  {/if}
  <slot />
</a>
