<script lang="ts">
  import { onDestroy, onMount, tick } from 'svelte'
  import '../lib/js/katex/katex.min.css'
  import Header from './Header/Header.svelte'
  import Home from './Home/Home.svelte'
  import QCMs from './QCM/QCM.svelte'
  import { currentTabId } from '../lib/ts/services/store'
  import Groups from './Groups/Groups.svelte'
  import Markers from './Markers/Markers.svelte'
  import OpenUsage from './OpenUsage/OpenUsage.svelte'
  import Statistics from './Statistics/Statistics.svelte'
  import { DEFAULT_TAB, isTabId, type TabId } from '../lib/ts/models/tab'
  import DiaporamaSettings from './Diaporama/DiaporamaSettings.svelte'
  import Show from './Show/Show.svelte'

  onMount(async () => {
    updateParams()
    addEventListener('popstate', updateParams)
    await tick()
    await import('../lib/ts/qcmcam')
  })

  onDestroy(() => {
    removeEventListener('popstate', updateParams)
  })

  function updateParams () {
    const url = new URL(window.location.href)
    const selectedTab = url.searchParams.get('tab')
    let destinationTab: TabId = DEFAULT_TAB
    if (isTabId(selectedTab)) {
      destinationTab = selectedTab
    }
    currentTabId.set(destinationTab)
  }

</script>

<main>
  <Header />
  {#if $currentTabId === 'diaporama-settings'}
    <DiaporamaSettings />
  {:else if $currentTabId === 'QCMCamShow'}
    <Show />
  {:else if $currentTabId === 'qcm'}
    <QCMs />
  {:else if $currentTabId === 'groups'}
    <Groups />
  {:else if $currentTabId === 'markers'}
    <Markers />
  {:else if $currentTabId === 'openusage'}
    <OpenUsage />
  {:else if $currentTabId === 'statistics'}
    <Statistics />
  {:else}
    <Home />
  {/if}
</main>
