<script lang="ts">

</script>

<div id="qm-statistics" class="tab">
  <h1 class="title is-2">Statistiques des réponses données au dernier QCM</h1>
  <div id="stats-container" class="grid is-col-min-12 is-gap-2"></div>
  <div id="scores-container"></div>
</div>
