<script lang="ts">
  import { onMount } from 'svelte'
  import display from '../../lib/ts/display'
  import { groups } from '../../lib/ts/services/store'
  import ModalGpMaker from './ModalGpMaker.svelte'
  import Group from '../../lib/ts/models/group'
    import ModalImportGroups from './ModalImportGroups.svelte';

  onMount(() => {
    display.GroupList($groups)
  })

  function addGroup () {
    const group = new Group('Nom')
    group
      .init()
      .then(() => {
        groups.update(groups => groups.concat(group))
        display.GroupStudentsList(group.id, $groups)
      }).catch(err => { console.log(err) })
  }

</script>

<div id="qm-groups" class="tab is-flex">
  <div>
    <aside class="menu mx-2">
      <p class="menu-label">Vos groupes</p>
      <ul class="menu-list" id="groups-list">
        <li>Pas de groupe</li>
      </ul>
      <p class="menu-label">Commandes</p>
      <ul class="menu-list">
        <li><button on:click={addGroup}><i class="ri-play-list-add-line"></i> Ajouter un groupe</button></li>
        <li id="btn-import-groups"><a><i class="ri-file-upload-line"></i> Importer des groupes</a></li>
        <li id="btn-download-groups"><a><i class="ri-file-download-line"></i> Télécharger</a></li>
        <!--<li id="btn-save-groups"><a><i class="ri-save-line"></i> Enregistrer</a></li>-->
      </ul>
    </aside>
  </div>
  <div class="p-3 is-flex-grow-1">
    <div class="p-3" id="students-list">
      <div class="py-6 is-size-3 has-text-grey-light has-text-weight-bold">
        <i class="ri-arrow-left-s-line"></i> Sélectionner un groupe pour voir/éditer ses éléments
      </div>
    </div>
  </div>
</div>
<ModalGpMaker
  groups={$groups}
/>
<ModalImportGroups />
