<script lang="ts">
  import { onMount } from 'svelte'
  import Group from '../../lib/ts/models/group'
  import utils from '../../lib/ts/services/utils'
  import { currentGroup } from '../../lib/ts/services/store'
  import display from '../../lib/ts/display'

  export let groups: Group[]

  onMount(() => {
  })

  function createSubgroups () {
    // vérifier qu'il n'y a qu'un groupe sélectionné
    const groupChoice = utils.DOM.getById('select-group-choice') as HTMLSelectElement
    if (groupChoice !== null) {
      const groupIds = []
      // nombre d'éléments sélectionnés
      for (const option of Array.from(groupChoice.options)) {
        if (option.selected && option.value !== '') {
          groupIds.push(option.value)
        }
      }
      if (groupIds.length === 0) return
      if (groupIds.length > 1) {
        alert('Veuillez selectionner un seul groupe')
      } else {
        // récupération des élèves du groupe
        currentGroup.set(Group.getGroupById(Number(groupIds[0]), groups))
        const group = $currentGroup
        // zones pour la répartition
        const $containerA = utils.DOM.getById('gpA-container') as HTMLElement
        const $containerB = utils.DOM.getById('gpB-container') as HTMLElement
        $containerA.innerHTML = ''
        $containerB.innerHTML = ''
        // afficher les élèves
        if (group !== undefined) {
          // check si des sous groupes existent déjà dans le groupe
          if (group.subgroups[0].length > 0) {
            display.displaySubgroups(group, $containerA, $containerB)
          } else {
            for (const key in group.students) {
              group.moveToSubgroup(0, Number(key))
              const student = group.students[key]
              const _$student = display.createStudentCard(student)
              _$student.onclick = () => {
                group.moveToSubgroup(1, student.id)
                display.displaySubgroups(group, $containerA, $containerB)
              }
              $containerA.appendChild(_$student)
            }
          }
        }
        // deux possibilités : appel avec caméra, placement manuel par simple clic
      }
    } else {
      alert('Veuillez selectionner un groupe')
    }
  }
</script>

<div class="modal" id="qm-gp-maker">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Créer des groupe</p>
      <button class="delete closebutton" aria-label="close" data-modal="gp-maker"></button>
    </header>
    <section class="modal-card-body">
      <div class="colums">
        <div class="column">
          <label class="label">Groupe A</label>
          <div id="gpA-container"></div>
        </div>
        <div class="column">
          <label class="label">Groupe B</label>
          <div id="gpB-container"></div>
        </div>
      </div>
    </section>
    <footer class="modal-card-foot">
      <button
        class="button is-success is-outlined mx-2"
        id="gp-maker-random"
        on:click={createSubgroups}
      >
        Aléatoire
      </button>
      <button class="button is-primary is-outlined mx-2" id="gp-maker-collrall">Appel</button>
      <button class="button is-danger is-outlined mx-2" id="gp-maker-cancel">Annuler</button>
      <button class="button is-link mx-2" id="gp-maker-confirm">Valider</button>
    </footer>
  </div>
</div>
